{% extends 'base.html' %}
{% block content %}
<div id="ad-container">
    <!-- Ads will be loaded here -->
</div>

<script>
    // Fetch the ads from the server
    fetch('/data_ads/')
        .then(response => response.json())
        .then(data => {
            // Get the ad container
            var adContainer = document.getElementById('ad-container');
            
            // Function to change the ad
            function changeAd() {
                // Remove all child nodes from the ad container
                while (adContainer.firstChild) {
                    adContainer.removeChild(adContainer.firstChild);
                }
                
                // Get a random ad
                var ad = data[Math.floor(Math.random() * data.length)];
                
                // Create a new img element
                var img = document.createElement('img');
                img.src = ad.full_image_url;
                img.alt = ad.url;
                console.log(ad.full_image_url);
                
                // Add the img element to the ad container
                adContainer.appendChild(img);
                
                // Set the duration for the next ad
                setTimeout(changeAd, ad.duration *   1000);
            }
            
            // Start changing ads
            changeAd();
        });
</script>
{% endblock %}
